body {
  margin-top: 20px;
  background-color: #ECEFF1;
}

.widget {
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

  & > input {
    display: block;
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
    border: 0 none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }
}

.folder-container {
  margin: 10px;
  padding: 0 20px;
  margin: 0;
}

.folder-wrapper {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.file-item,
.folder-item {
  margin-left: -16px;
  padding-left: 20px;

  list-style-type: none;
}

.file-item {
  background: transparent  url("http://icons.iconarchive.com/icons/gakuseisean/radium/16/png-file-icon.png") no-repeat left center;
}
.imagetxt {
  background: transparent  url("http://www.cdc.gov/other/images/icon_word.gif") no-repeat left center;
}

.ttrue {
  position: relative;
  font-weight: bold;
  background: transparent  url("http://icons.iconarchive.com/icons/hopstarter/sleek-xp-basic/16/Folder-icon.png") no-repeat left center;
}
.ffalse {
  position: relative;
  font-weight: bold;
  background: transparent  url("http://www.ibm.com/support/knowledgecenter/SSTFXA_6.2.0.1/com.ibm.itm.doc_6.2.fp1/images/folderopen_16x16.gif") no-repeat left center;
}



.true:before{
  content: url("http://icons.iconarchive.com/icons/yusuke-kamiyamane/fugue/16/toggle-expand-icon.png");

  position: absolute;
  left: -20px;


}
.false:before{
  content: url("https://cdn2.iconfinder.com/data/icons/fugue/icon/toggle_collapse.png");
  position: absolute;
  left: -20px;
}